@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  background-image: url(/images/background.jpg?1fd803032a95a4ee57046a8b11d46675);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.link {
  color: inherit;
}

.link:hover {
  color: inherit;
  text-decoration: none;
  text-shadow: 0px 0px 5px white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 300px;
}

.cell {
  height: 100px;
  width: 100px;
  border: 0.5px solid white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-zone {
  height: 100vh;
}

.play-zone .board-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-zone .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-zone .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-off {
  opacity: 0.5;
}

.sign-choice-cell:hover {
  height: 110px;
  width: 110px;
}

.signChoiceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signChoiceBox .signChoiceBox_logo {
  position: absolute;
  top: 25%;
}

.signChoiceBox .signChoiceBox_choices {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vs_phrase {
  border: 4px solid yellow;
  border-radius: 50px;
  padding: 10px;
}

.winner {
  border: 1px solid #ad0f73;
  -webkit-box-shadow: 0px 0px 10px #ad0f73;
          box-shadow: 0px 0px 10px #ad0f73;
}

.homepage-box {
  height: 270px;
  width: 270px;
  border: 0.5px solid white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.homepage-box h1 {
  font-size: 50px;
}

.histoy-list {
  overflow: scroll;
  height: 270px;
}

@media screen and (max-width: 980px) {
  .logo-xo-icons {
    display: none;
  }

  * {
    text-align: center;
  }
}

